<html>
<head>
    <title>Welcommen</title>
    <#include "base/css.ftl">
    <#include "base/jquery.ftl">
</head>
<body>
<div><#include "element/header.ftl"></div>
<h2>Hey, Vsauce!<br>Freemarker here</h2>
</body>
</html>
